.panel {
  height: calc(100% - 50px);

  > div {
    height: 100%;
  }

  @media screen and (max-width: 1023px) {
    height: 180px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-brand);
  }
}


.button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: var(--z-index-sidebar);
}