.personVideoEven {
  width: 100%;
  padding: 10px;
  transform: rotate(2deg);
  box-shadow: 12px 12px 10px #ccc;
}

.personVideoOdd {
  max-width: 100%;
  padding: 10px;
  transform: rotate(-2deg);
  box-shadow: 12px 12px 10px #ccc;
}

.name {
  font-size: 24px;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}
