.root {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.title {
  margin: 0;
  font-size: 1.125rem;
  color: var(--color-brand);
}

.image {
  width: 30px;
}
