.root {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1;
  color: var(--color-brand);

  @media screen and (max-width: 419px) {
    display: none;
  }
}

.image {
  width: 30px;
  margin-left: 5px;
}
