.root {
  padding: 20px 0;
  text-align: center;
}

.title {
  color: var(--color-brand);
  font-size: 20vh;
  font-weight: 600;
}

.link {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
